/* iconos bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:wght@300&family=Roboto:wght@400;500&display=swap');

:root{
    --main-color: rgb(255, 121, 23);
    --secondary-color: #949292;
    --filter: invert(66%) sepia(0%) saturate(30%) hue-rotate(301deg) brightness(88%) contrast(89%);
    --bg-color: black;
    --cta-color: red;
    --cta--bg: red;
    --cta-hover: red;
    --font:  'Montserrat', sans-serif;
    --special-font: 'Montserrat', sans-serif;
    --nav-color: rgb(200, 200, 200);
    --nav-bgcolor: rgba(43, 43, 43, 0.839);
    --nav-img: url(/img2/99.jpg);
    --nav-icon: invert(100%) sepia(0%) saturate(2%) hue-rotate(54deg) brightness(106%) contrast(101%);
    --coooc: rgb(91, 89, 89);
}

*, *::before, *::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;
}
body {
    font-family: var(--special-font);
    background-color: var(--bg-color);
}


/* navbar */
.nav{
    height: 8vh;
    z-index: 100;
    transition: all .3s ease-in-out;
}

.business-logo{
    height: 40px;
    margin-right: -9px;
}


/* business info */
.business-info{
    margin-top: 30px;
    background-image:
    linear-gradient(to bottom, black , transparent 65%, black),
    url('../img/14.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.header-bg{
    opacity: .45;
    object-fit: cover;
    width: 100%;
    /* transform: translateY(-10vh); */
}

.header{
    width: 100%;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.title{
    font-family: var(--special-font);
    line-height: 120px;
    letter-spacing: 12px;
}

.fw-bold{
    font-weight: 600;
}

/* servicios */
.card-title{
    margin-top: -105px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.service-icon{
    scale: .2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
}

.service-icon-filter{
    filter: var(--nav-icon);
}

.bg-olive{
    background-color: rgba(35, 35, 35, 0.6);
}
.bg-olive2{
    background-color: rgb(255, 255, 255);
}

/* aboutus */
.card{
    transition: all .25s ease-in-out;
}

.blog-box{
    max-width: 70vw;
    margin: 0 40px;
    height: 70vh;
    overflow: hidden;
}

.blog-box .slide{
    display: flex;
    align-items: center;
}

.blog-img{
    min-width: 26vw;
    width:35%;
    height: auto;
    margin-left: 100px;
}

.blog-p{
    padding: 0 100px 0 40px;
    margin-bottom: auto;
    margin-top: 90px;
}

.slide .quote-icon{
    font-size: 30px;
    color: rgb(84, 82, 82);
    margin-top: -25px;
    margin-bottom: -10px;
}

.slide .name{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 50px;
}

.btn-swipe{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: grey;
    transition: .3s ease-in-out;
}

.btn-swipe:hover{
    background-color: rgb(140, 140, 140);
}

.btn-swipe::after, .btn-swipe::before{
    font-size: 20px;
    color: rgb(125, 125, 125);
}

.swiper-pagination-bullet{
    background-color: rgb(222, 219, 219);
}

.swiper-pagination-bullet-active{
    background-color: white;
}


/* galeria de imagenes */
.gallery{
    display: grid;
    grid-template-columns: repeat(32 , minmax(250px, 1fr));
    /* grid-auto-columns: calc(100% - 4rem); */
    /* grid-auto-flow: column; */
    grid-gap: 5px;
    height: 610px;
    grid-row: 3;
    overflow-y: hidden;
    overflow-x: auto;
    cursor: grab;
}

.gallery img{
    /* min-width: 110px;
    height: 110px;
    line-height: 110px; */
    width: 100%;
    height: 200px;
    object-fit: cover;
}



/* opiniones */
.opinions p{
    font-family: 'Poppins', sans-serif;
}

.testimonial{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    pad: 50px 0;
    overflow: hidden;
}

.testimonial .image{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.testimonial .slide p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 0 110px;
}